@font-face {
  font-family: "Arcade Classic";
  src: url("fonts/Arcade Classic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  border: 1px solid black;
  background: black;
}
